# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit bpqd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/bpq/bpq.conf

[Unit]
Description=BPQ daemon
After=network.target

[Service]
ExecStart=/usr/bin/bpqd -daemon -conf=/etc/bpq/bpq.conf -pid=/run/bpqd/bpqd.pid
# Creates /run/bpqd owned by bpq
RuntimeDirectory=bpqd
User=bpq
Type=forking
PIDFile=/run/bpqd/bpqd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
